<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>待办事项</title>
    <link href="./css/index.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <p class="desc">
            <input type="text" placeholder="请输入待办事项内容..." />
            <button>添加</button>
            <select>
                <option value="1">全部</option>
                <option value="2">已完成</option>
                <option value="3">未完成</option>
            </select>
        </p>
        <div class="desc">
            <p>
                共<span class="count">3</span>条
                已完成：<span class="count">1</span>条
                未完成：<span class="count">2</span>条
            </p>
        </div>
        <ul class="descul">
            <li>
                <span class="span1">待办事项1</span>
                <!-- <input v-if='item.isEdit' v-model='editValue' type="text" /> -->
                <label>
                    <span class='finished'>已完成</span>
                    <input type="checkbox" />
                </label>
                <button>删除</button>
                <button>编辑</button>
                <!-- <p v-if='item.isEdit'>
                    <button>保存</button>
                    <button>取消编辑</button>
                </p> -->
            </li>
            <li>
                <span class="span1">待办事项2</span>
                <!-- <input v-if='item.isEdit' v-model='editValue' type="text" /> -->
                <label>
                    <span class='finished'>已完成</span>
                    <input type="checkbox" />
                </label>
                <button>删除</button>
                <button>编辑</button>
                <!-- <p v-if='item.isEdit'>
                    <button>保存</button>
                    <button>取消编辑</button>
                </p> -->
            </li>
            <li>
                <span class="span1">待办事项3</span>
                <!-- <input v-if='item.isEdit' v-model='editValue' type="text" /> -->
                <label>
                    <span class='finished'>已完成</span>
                    <input type="checkbox" />
                </label>
                <button>删除</button>
                <button>编辑</button>
                <!-- <p v-if='item.isEdit'>
                    <button>保存</button>
                    <button>取消编辑</button>
                </p> -->
            </li>
        </ul>
    </div>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='./js/main.js'></script>
</body>

</html>