<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>待办事项</title>
    <link href="./css/index.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <p class="desc">
            <input v-model.trim='backlog' type="text" placeholder="请输入待办事项内容..." />
            <button @click='add'>添加</button>
            <select v-model='select'>
                <option value="1">全部</option>
                <option value="2">已完成</option>
                <option value="3">未完成</option>
            </select>
        </p>
        <div class="desc">
            <p>
                共<span class="count">{{list.length}}</span>条
                已完成：<span class="count">{{getFinish}}</span>条
                未完成：<span class="count">{{list.length-getFinish}}</span>条
            </p>
        </div>
        <ul v-if='list.length' class="descul">
            <li v-for='(item,index) of getFilterList'>
                <span class="span1">{{item.title}}</span>
                <!-- <input type="text" /> -->
                <label>
                    <span :class='[item.isFinish?"finished":"unfinished"]'>{{item.isFinish?'已完成':'未完成'}}</span>
                    <input v-model='item.isFinish' type="checkbox" />
                </label>
                <button @click='del(index)'>删除</button>
                <button>编辑</button>
                <!-- <p v-if='item.isEdit'>
                    <button>保存</button>
                    <button>取消编辑</button>
                </p> -->
            </li>
        </ul>
        <p v-else>没有任何数据！</p>
    </div>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='./js/main.js'></script>
</body>

</html>